<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972843230573-0u1m08pof7sa77jddu3s138vh07easo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972843230573-0u1m08pof7sa77jddu3s138vh07easo2</string>
	<key>API_KEY</key>
	<string>AIzaSyAWFIWTm02Lh5TFQABs9LiEnqBcU8PRKIg</string>
	<key>GCM_SENDER_ID</key>
	<string>972843230573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>aabbir-df297</string>
	<key>STORAGE_BUCKET</key>
	<string>aabbir-df297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972843230573:ios:42036e7d60e4d8568de664</string>
</dict>
</plist>